*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #262c27;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  /* height: auto; */
  object-fit: cover;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  font-family: "Comfortaa", cursive;
  font-size: 60px;
  font-weight: 400;
  line-height: 67px;
  text-transform: uppercase;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

/* ----------------header---------------- */

.header {
  position: relative;
  min-height: 100vh;
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  height: 456px;
  background-image: url(../images/header-decor.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: translateY(35%);
  z-index: 2;
}
.header::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  height: 456px;
  background-image: url(../images/header-decor.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: translateY(75%) rotate(180deg);
  z-index: 3;
}

.header__top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 100px;
  padding: 57px 0;
  font-family: "Comfortaa", cursive;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
}

.logo path {
  transition: fill 0.3s;
}

.logo:hover path {
  fill: #0093a1;
  transition: fill 0.3s;
}

.header__btn {
  text-transform: uppercase;
  padding: 12px 71px;
  background-color: #262c27;
  color: #fff;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.header__btn:hover {
  background-color: #b9c400;
  color: #262c27;
}

.header__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: calc(100vh - 161px);
}

.header__content-box {
  width: 550px;
  margin-right: 40px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  color: #fff;
}

.header__title {
  font-size: 64px;
  line-height: 71px;
  margin-bottom: 20px;
}

.header__text {
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 20px;
}

.header__decor-text {
  position: absolute;
  bottom: 20px;
}

.header__decor-text--one,
.header__decor-text--two {
  font-family: "Comfortaa", cursive;
  font-size: 130px;
  font-weight: 400;
  line-height: 145px;
  color: #0093a1;
  text-transform: uppercase;
  opacity: 0.3;
}

.header__decor-text--one {
  bottom: 150px;
  right: 145px;
  z-index: 1;
}

.header__decor-text--two {
  bottom: 0;
  left: 265px;
  z-index: 5;
}

.header__decor-text--three {
  max-width: 360px;
  right: 135px;
  font-size: 32px;
  font-style: italic;
  font-weight: 300;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  color: #0093a1;
  z-index: 4;
}

/* ----------------info---------------- */

.info {
  position: relative;
  background-image: url(../images/info-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.info::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 130px;
  background-color: #262c27;
  transform: translateY(-40px);
}

/* ----------------info-top---------------- */

.info__top {
  display: flex;
  gap: 80px;
  padding-top: 145px;
  margin-bottom: 65vh;
  color: #fff;
}

.info__top-text {
  width: 290px;
  padding-top: 245px;
}

.info__top-text--one {
  position: relative;
  padding-bottom: 120px;
}

/* ----------------popup-btn---------------- */

.popup-btn {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.popup-btn span {
  display: block;
  padding-top: 12px;
  color: #fff;
  transition: color 0.3s;
}

.popup-btn path,
.popup-btn circle {
  transition: all 0.3s;
}

.popup-btn:hover path {
  fill: #b9c400;
}
.popup-btn:hover circle {
  stroke: #b9c400;
}

.popup-btn:hover span {
  color: #0093a1;
}

/* ----------------info-top---------------- */

.info__btn {
  right: 0;
  bottom: 0;
}

.info__top-text--two {
  padding-bottom: 30px;
  border-bottom: 1px solid #fff;
}

.info__img {
  position: relative;
  z-index: 6;
}

/* ----------------info-specs---------------- */

.info__specs {
  display: flex;
  align-items: center;
  gap: 130px;
  padding-bottom: 50px;
}

.info__specs-title {
  width: 250px;
  color: #fff;
}

.info__specs-list {
  width: 565px;
  font-family: Inter;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding: 30px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.info__specs-item {
  display: flex;
  gap: 25px;
  margin-bottom: 15px;
}
.info__specs-item:last-child {
  margin-bottom: 0;
}

.info__specs-caption {
  width: 178px;
}

.info__specs-meaning {
  width: 355px;
}

/* ----------------buy---------------- */

.buy {
  padding: 150px 0 0;
}

.buy__wrapper {
  display: flex;
  align-items: center;
  gap: 90px;
}

.buy__content {
  position: relative;
  width: 510px;
}

.buy__title {
  margin-bottom: 50px;
  color: #0093a1;
}

.buy__list {
  width: 292px;
  margin-bottom: 50px;
}

.buy__item {
  margin-bottom: 25px;
}

.buy__item-title {
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.buy__price {
  position: absolute;
  right: 0;
  bottom: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 201px;
  height: 199px;
  font-size: 35px;
  font-weight: 700;
  line-height: 42px;
  background-image: url(../images/Star.svg);
  transition: transform 0.3s;
}

.buy__price:hover {
  transform: scale(1.3);
}

.buy__btn {
  width: 100%;
  max-width: 484px;
  padding: 18px;
  font-family: "Comfortaa", cursive;
  font-size: 40px;
  font-weight: 700;
  line-height: 45px;
  text-transform: uppercase;
  color: #0093a1;
  background-color: transparent;
  border: 2px solid #0093a1;
  cursor: pointer;
  transition: all 0.3s;
}

.buy__btn:hover {
  color: #262c27;
  background-color: #b9c400;
  border: 2px solid #b9c400;
}

/* ----------------technology---------------- */

.technology {
  margin-bottom: 150px;
}
.technology__top {
  background-image: url(../images/technology-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.technology__top-wrapper {
  position: relative;
  min-height: 122vh;
}

.technology__btn {
  top: 652px;
  right: 356px;
}

.technology__tob-box {
  position: absolute;
  bottom: 85px;
  left: 0;
  max-width: 470px;
}

.technology__title {
  margin-bottom: 62px;
}

.technology__list {
  margin: 0;
  padding-left: 24px;
}

.technology__item {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px;
  padding-left: 24px;
}

.technology__item:last-child {
  margin-bottom: 0;
}
.technology__item span {
  margin-left: 24px;
}

/* ----------------gallery---------------- */

.gallery__box {
  display: flex;
  gap: 68px;
  margin-top: 115px;
  margin-bottom: 150px;
}
.gallery__text {
  width: 350px;
}
.gallery__min {
  position: relative;
  display: grid;
  grid-template-columns: 481px 208px;
  grid-template-rows: 432px 299px;
  gap: 24px 30px;
  margin-top: -445px;
  padding: 72px 31px 52px;
}
.gallery__min::before {
  position: absolute;
  content: "";
  border: 3px solid #262c27;
  border-radius: 200px 0px 300px;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.gallery__min-img {
  max-width: 100%;
}
.gallery__min-img--1 {
  grid-column: 1/3;
  grid-row: 1/2;
  border-radius: 400px 0px 0px 0px;
}
.gallery__min-img--2 {
  grid-column: 1/2;
  grid-row: 2/3;
  border-radius: 0px 0px 0px 300px;
}
.gallery__max {
  display: grid;
  grid-template-columns: 300px 469px 391px;
  grid-template-rows: 340px 270px 270px;
  gap: 20px;
}

.gallery__max-img--2 {
  grid-column: 2/-1;
  justify-self: flex-end;
  border-radius: 0px 500px 0px 0px;
}
.gallery__max-img--3 {
  border-radius: 0px 0px 150px 0px;
}
.gallery__max-img--4 {
  border-radius: 0px 200px 0px 0px;
}
.gallery__max-img--5 {
  border-radius: 200px 0px 0px 0px;
}
.gallery__max-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style: italic;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  background-color: #0093a1;
  color: #fff;
  border-radius: 0px 0px 0px 200px;
}
.gallery__max-img--6 {
  grid-column: 2/-1;
  border-radius: 0px 0px 0px 400px;
}

/* ----------------footer---------------- */

.footer {
  color: #fff;
  background-color: #262c27;
}

.footer__wrapper {
  padding: 100px 0 82px;
}
.footer__top {
  display: flex;
  justify-content: space-between;
}
.footer__form {
  max-width: 500px;
  margin-bottom: 97px;
}
.footer__title {
  margin-bottom: 27px;
}

.footer__form-input {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 57px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  color: #fff;
}

.footer__form-input::placeholder {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  opacity: 0.6;
}

.footer__form-btn {
  padding: 10px 66px;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  background-color: #fff;
  color: #000;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.footer__logo {
  align-self: flex-start;
}
.footer__logo path {
  transition: fill 0.3s;
}

.footer__logo:hover path {
  fill: #0093a1;
}

.footer__social-title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 28px;
}

/* ----------------footer-gallery---------------- */

.footer__gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 52px;
  margin-bottom: 51px;
}

.gallery__img {
  cursor: pointer;
  transition: all 0.3s;
}
.gallery__img:hover {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.4);
  transform: scale(1.1);
}

.footer__menu-list {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

/* ----------------media-header------------------------------------ */
@media (max-width: 1499px) {
  .container {
    width: 73%;
  }

  .header__top {
    padding: 37px 0;
    gap: 60px;
  }

  .header__content {
    min-height: calc(100vh - 121px);
  }

  .header__decor-text--one,
  .header__decor-text--two {
    line-height: 86px;
    font-size: 100px;
  }

  .header__decor-text--one {
    bottom: 95px;
  }

  .header__decor-text--two {
    left: 100px;
  }
  .header__decor-text--three {
    line-height: 34px;
  }

  .header::before,
  .header::after {
    height: 300px;
  }
}

@media (max-width: 1230px) {
  .header__decor-text--two {
    left: 0;
  }
  .header__content-box {
    margin-right: 0;
    z-index: 5;
  }
}

@media (min-width: 768px) and (max-width: 1230px) {
  .container {
    width: 88%;
  }
}
@media (max-width: 1023px) {
  .header {
    background-position: 41%;
  }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
    max-width: 1230px;
  }
  .header__top {
    padding: 30px 0;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .logo {
    margin-bottom: 30px;
  }
  .header__btn {
    width: 74%;
    margin-bottom: 30px;
  }
  .header__content-box {
    margin: 0 auto;
  }
  .header__decor-text--two {
    left: 0;
  }

  .header::before,
  .header::after {
    height: 270px;
  }
}

@media (max-width: 414px) {
  .header__content {
    min-height: calc(100vh - 161px);
  }
  .header__title {
    font-size: 58px;
    line-height: 60px;
  }

  .header__decor-text {
    display: none;
  }
}

/* ----------------media-info------------------------------------ */

@media (max-width: 1230px) {
  .info::before {
    height: 100px;
  }
}
@media (max-width: 1023px) {
  .info__top {
    display: block;
    gap: 0;
    padding-top: 145px;
    margin-bottom: 20vh;
  }

  .info__top-text {
    width: 100%;
    padding-top: 170px;
  }

  .info__top-text--one {
    padding-bottom: 50px;
  }
  .info__top-text--two {
    padding-bottom: 20px;
  }
  .info__btn {
    right: 20px;
    bottom: -115px;
  }
  .info__img {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
  }
  .info__specs {
    display: block;
  }
}

@media (max-width: 768px) {
  .info__top {
    padding-top: 90px;
    margin-bottom: 50vh;
  }

  .info__specs-title {
    width: 100%;
    margin-bottom: 10px;
  }

  .info__specs-list {
    width: 100%;
  }

  .info__specs-item {
    display: block;
    gap: 0;
    margin-bottom: 20px;
    word-break: break-word;
  }

  .info__specs-caption {
    width: 100%;
  }

  .info__specs-meaning {
    width: 100%;
  }
}

/* ----------------media-buy------------------------------------ */

@media (max-width: 1499px) {
  .title {
    font-size: 45px;
    line-height: 45px;
  }
  .buy__wrapper {
    gap: 39px;
  }
  .buy__price {
    right: -25px;
    width: 170px;
    height: 168px;
    background-size: cover;
  }

  .buy__img {
    width: 450px;
    height: auto;
  }

  .buy__btn {
    width: 100%;
    font-size: 35px;
    line-height: 35px;
  }
}
@media (max-width: 1365px) {
  .buy {
    padding: 100px 0 0;
  }
  .buy__wrapper {
    flex-wrap: wrap;
  }

  .buy__content {
    width: 100%;
  }

  .buy__list {
    width: 600px;
  }

  .buy__price {
    pointer-events: none;
  }
  .buy__img {
    width: 600px;
    order: -1;
    margin: 0 auto;
  }
}

@media (max-width: 1023px) {
  .buy__wrapper {
    gap: 0;
  }

  .buy__content {
    margin-top: 50px;
  }

  .buy__title {
    margin-bottom: 30px;
  }

  .buy__price {
    right: 0;
    top: -153px;
    width: 145px;
    height: 142px;
    background-size: cover;
    font-size: 25px;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 34px;
    line-height: 34px;
  }

  .buy__title {
    margin-top: 20px;
  }

  .buy__img {
    width: 100%;
  }
  .buy__list {
    width: 100%;
  }

  .buy__btn {
    width: 100%;
    font-size: 25px;
    line-height: 25px;
    padding: 12px;
  }
}

/* ----------------media-technology------------------------------------ */
@media (max-width: 1499px) {
  .technology__btn {
    top: 300px;
    right: 256px;
  }
  .gallery__min {
    grid-template-columns: 330px 155px;
    grid-template-rows: 310px 205px;
    margin-top: -350px;
  }

  .gallery__min-img--3 {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1023px) {
  .technology__btn {
    top: 300px;
    right: 0;
  }
  .gallery__box {
    gap: 0;
    flex-wrap: wrap;
    margin-top: 85px;
    margin-bottom: 150px;
  }

  .gallery__text {
    width: 100%;
  }

  .gallery__min {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    margin-top: 75px;
    width: 100%;
    gap: 20px;
  }

  .gallery__min::before {
    border-radius: 26% 0px 39%;
  }

  .gallery__min-img {
    width: 100%;
    max-height: 100%;
    align-self: stretch;
  }
}

@media (max-width: 767px) {
  .technology__top-wrapper {
    padding-top: 350px;
  }

  .technology__btn {
    display: block;
    margin-left: 60%;
    position: static;
  }

  .technology__tob-box {
    position: static;
    margin-top: 50px;
    padding-bottom: 85px;
  }

  .technology__title {
    max-width: 366px;
    margin-bottom: 30px;
  }
  .gallery__min {
        grid-template-rows: auto auto;

    /* grid-template-rows: 140px 107px; */
    gap: 10px;
    margin-top: 65px;
    padding: 20px;
  }

   

  .gallery__min::before {
    border-radius: 40% 0px 40%;
  }
}
